*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background-color: rgb(187, 150, 150);
}
.firstPageStyle ul{
background-color: aquamarine;
text-align: left;
list-style: none;
}
.firstPageStyle li
{
    display: inline-block;
    padding: 25px 25px;
    text-align: center;
    color: rgb(43, 40, 38);
    font-size:medium;
    font-weight: bold;
    transition: all 2s ease-in;
}
.container{
    width: 100%;
    height: 100%;
    background-image: url(/FormPage/images/form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    padding: 25px;
    margin: 100px auto 0;
    border: 8px solid chocolate;
    box-shadow: inset;
}
h2{
    font-size: 20px;
    line-height: 20px;
    padding: 30px;
    text-align: center;
}
.nameInput{
    width: 100%;
    margin: 20px;
    border: 30px;
    display: flex;
}

#number{  
  margin-left: 10px;   
}
.Input#lastName{
  margin-left: 10px;     
 }

.text-details, .name
{
    border: 1px solid #cccccc;
    outline:none
}

.hoverC:hover
{
    background-color: bisque;
}

.nameInput:focus
{
border: 1px solid black;
}

.radio-button
{
    margin-right: 8px;
}
.profileImg{
    margin-bottom: 40px;
    text-align: center;
}
.pro-image img{
    
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.subButton{
text-align: center;
margin-right: 40px;
}
.pro-image{
    text-align: center;
}


input#dateofBirth {
    padding-right: 13px;
    padding-left: 11px;
    margin-left: 10px;
}
span{
  color: red;
  margin-left: 5px;
}
.span-err{
  margin-left: 100px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 
  
  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  form{
    margin-left: 30px;
  }
  .container {
    margin-bottom: 50px;
}
#lastName{
  margin-left: 10px;
}